<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/style.css">
        <title>calculator</title>
        <script>
           let valuenew=""
          function handleChange(event) {
           valuenew+=event.target.value
           document.getElementById('id1').value=valuenew
           console.log(valuenew)
          }
          function result(event){
            let result=document.getElementById('id1').value;
            document.getElementById('id1').value=eval(result)
            event.preventDefault();
          }
          </script>
       
      </head>
    <h1 class="title" >calculator</h1>
    <form name="form1">
      <input  id='id1' >
      <p>value1 :</p>
      <input onchange="handleChange(event)">
      <p>operator :</p>
      <input onchange="handleChange(event)">
      <p>value2 :</p>
      <input onchange="handleChange(event)">
     
      <br/>
      <button onclick="result(event)">=</button>
  
    </form>
    
<body>
    
</body>
    
    
</html>